xsd2py/schemas/measurement_set.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:X-fsgim:fsgim" xmlns:fsgim2="urn:X-fsgim:fsgim2" targetNamespace="urn:X-fsgim:fsgim" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/2005/Atom" schemaLocation="atom.xsd"/>
	<xs:import namespace="urn:X-fsgim:fsgim2" schemaLocation="resource2.xsd"/>
    <xs:complexType name="MeasurementSet" abstract="true">
		<xs:annotation>
			<xs:documentation>An abstract container class used to hold either the power measurements, energy measurements, or emissions measurements that could be made for a given EMUsagePoint and time reference.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="Measurement">
				<xs:sequence>
					<xs:element name="timeReference" type="UTCDateTimeInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Applicable time reference associated with this Measurement. The duration, end, and start can be populated as needed to describe the time reference of the measurement. If only a timestamp is necessary then omit duration and end. If the measurement occurred over a period, use the duration attribute to indicate this period. Only two of the three attributes may be included.

If the Measurement is a MeasurementSet the contained MeasurementQuantity will not populate timeReference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measuredAt" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The logical reference for a point of measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>